autostart/
dconf
connections.db
Electron
discord
ephiphany
evolution
gnome-session
go
goa-1.0
gtk-3.0
gtk-4.0
ibus
notion-calendar-electron
pavucontrol.ini
pulse
rclone
rygel.conf
spotify
user-dirs.dirs
user-dirs.locale
yay
yelp
.gsd-keyboard.settings-ported
.mozilla
mimeapps.list
libreoffice
obsidian
